/* Main container styling */
.signup-main {
    display: flex;
    justify-content: flex-start;  /* Align the card to the left */
    align-items: center;          /* Center vertically */
    height: 80vh;                /* Full screen height */
    padding: 40px;
    color: #f03b0d;
  }
  
  /* Card container for the form */
  .signup-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;      /* Align form inputs and buttons to the left */
    width: 350px;                 /* Set a fixed width for the card */
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for card effect */
    left: 250px;
    position: relative;  
}
  
  /* Title of the form */
  .signup-title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    padding-left: 105px;
}
  
  /* Message container (e.g., error message) */
  .signup-message {
    color: red;  /* Error message styling */
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Form container */
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Input field styling */
  .signup-input-group {
    margin-bottom: 15px;
  }
  
  .signup-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .signup-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .signup-button, .signup-cancel-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f03b0d; /* Red background for Cancel */
    color: white;
  }
  .signup-button:hover{
    background-color: darkgreen;

  }

  
  .signup-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;


  }
  
  .signup-cancel-button {
    background-color: #f03b0d; /* Red background for Cancel */
    color: white;
  }
  
  .signup-cancel-button:hover {
    background-color: darkgreen;
  }
  
  @media (max-width: 768px) {

    .signup-main {
      justify-content: center;
      padding: 20px;           
    }

    .signup-card {
      width: 100%; 
      padding: 20px;
      left: 0; 
    }
    .signup-title {
      font-size: 30px; 
      padding-left: 0; 
    }
  

    .signup-input {
      padding: 10px;
      font-size: 1rem; 
    }
  
  }