/* Main container styling */
.signin-main {
    display: flex;
    justify-content: flex-start;  /* Align the card to the left */
    align-items: center;          /* Center vertically */
    height: 80vh;                 /* Full screen height */
    padding: 40px;
    color: #f03b0d;
  }
  
  /* Card container for the form */
  .signin-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;      /* Align form inputs and buttons to the left */
    width: 350px;                 /* Set a fixed width for the card */
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for card effect */
    left: 250px;
    position: relative;
  }
  
  /* Title of the form */
  .signin-title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    padding-left: 120px;
  }
  
  /* Message container (e.g., error message) */
  .signin-message {
    color: red;  /* Error message styling */
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Form container */
  .signin-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Input field styling */
  .signin-input-group {
    margin-bottom: 15px;
  }
  
  .signin-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signin-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .signin-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* Buttons (submit and cancel) */
  .signin-button, .signin-cancel-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f03b0d; 
    color: white;
  }
  
  .signin-button:hover {
    background-color: darkgreen;
  }
  
  .signin-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .signin-cancel-button {
    background-color: #f03b0d; 
    color: white;
  }
  
  .signin-cancel-button:hover {
    background-color: darkgreen;
  }
  
  @media (max-width: 768px) {

    .signin-main {
      padding: 20px; 
      justify-content: center;  
    }
  
    .signin-card {
      width: 100%; 
      padding: 20px;  
      margin: 0 auto; 
      left: 0; 
    }
  

    .signin-title {
      font-size: 28px;  
      padding-left: 0;  
    
    }

    .signin-input-group {
      margin-bottom: 10px; 
    }
  
    .signin-input {
      padding: 10px;  
      font-size: 1rem; 
    }
  
    .signin-button, .signin-cancel-button {
      font-size: 1rem; 
    }
  
    .signin-actions {
      flex-direction: row;  
      align-items: center;  
    }
  
    .signin-button, .signin-cancel-button {
      width: auto;
      padding: 10px 20px;
      font-size: 1rem;
    }
  }